* {
  /* box-sizing: border-box; */
  text-decoration: none;
  color: #97E4FF;
  /* background-color: rgb(184, 211, 211); */
  
  font-family: 'Teko', sans-serif;
  font-size: 24px;
}

iframe {
  display: flex;
  align-self: center;
  max-width: 80vw;
  border: 20px solid #95E1FF;
  border-radius: 100px;
}
body {
  margin: 0;
  text-decoration: none;
}

li {
  /* list-style: none; */
  /* font-style: italic; */
  
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3vh;
  margin-left: -10vw;
  column-gap: 1vw;
  /* border: 3px solid rgb(3, 224, 224); */
  
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery {
 
  max-height: 60vh;
  margin-top: 5vh;
}

.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 3px solid skyblue; */
  margin: 20px;
  height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.App {
  text-align: center;
  /* border: 5px solid red; */
  height: 100vh;
  width: auto;
}

.mainLogo {
  align-self: center;
  display: flex;
  justify-content: center;
  margin-top: -5vh;
  margin-bottom: 5vh;
  height: 40vh;
  width: auto;
  max-width: 800px;
  border-radius: 50px;
}

.header {
  font-family: 'Rubik Moonrocks', cursive;
  font-size: 50px;
}

/* #homeNav {
  color: blue;
  font-size: 25px;
} */
/* #homeNav:hover {
  color: blue;
} */
.nav li {
  list-style: none;
  /* border: 1px solid orange; */
  /* background-color: solid black; */
  font-size: 26px;
  }
/* .nav li:hover{
  font-size: x-large;
  color: blue;
  transition-duration: 500ms;
  transition-delay: 100ms;
} */

@media only screen and (min-width: 768px) {
  * {
    font-size: 32px;
  }
  
  .recipes {
    text-align: center;
  }

  .header {
    font-size: 65px;
  }

  .nav li:hover{
  background: #9DE9FF;
  color: #004C73;
  transition-duration: 500ms;
  transition-delay: 100ms;
}

  iframe {
    height: 50vh;
    width: 60vw;
    max-width: 700px;
  }
}

