* {
  /* box-sizing: border-box; */
  text-decoration: none;
  color: #97E4FF;
  /* background-color: rgb(184, 211, 211); */
  
  font-family: 'Teko', sans-serif;
  font-size: 24px;
}
*::-webkit-scrollbar {
  width: .5vw;
}

*::-webkit-scrollbar-track {
  background: #001B3C;
}

*::-webkit-scrollbar-thumb {
  background: #9DE9FF;
}

iframe {
  display: flex;
  align-self: center;
  max-width: 80vw;
  border: 10px solid #95E1FF;
  border-radius: 10px;
}
body {
  margin: 0;
  text-decoration: none;
}

li {
  /* list-style: none; */
  /* font-style: italic; */
  
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 0vh;
  margin-left: -7vw;
  margin-right: -vw;
  column-gap: 1vw;
  padding-bottom: 1vh;
  padding-top: 1vh;
  /* border: 3px solid rgb(3, 224, 224); */
  background-color: #001B3C;
  border-bottom: 2px solid #89D6FF;
}


.recipes {

  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 1.5px solid #004C73;
  margin-bottom: 1vh;
}

.gallery {
  display: flex;
  flex-direction: column;
  /* border: 3px solid red; */
  max-height: 50vh;
  margin-top: 5vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 3px solid skyblue; */
  margin: 20px;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.App {
  text-align: center;
  /* border: 5px solid red; */
  height: 100vh;
  width: auto;
}

.mainLogo {
  align-self: center;
  display: flex;
  justify-content: center;
  margin-top: 8vh;
  margin-bottom: 1vh;
  height: 40vh;
  width: auto;
  max-width: 800px;
  border-radius: 50px;
}

.nav li {
  list-style: none;
  }




@media only screen and (min-width: 768px) {
  * {
    font-size: 32px;
  }
  
  .recipes {
    text-align: center;
  }

  .header {
    font-size: 65px;
  }

  .nav li:hover{
  background: #9DE9FF;
  color: #004C73;
  transition-duration: 500ms;
  transition-delay: 100ms;
  border: 2px solid #001B3C;
}

i:hover {
  color: #004C73;
  transition-duration: 500ms;
  transition-delay: 100ms;
}

  iframe {
    height: 50vh;
    width: 60vw;
    max-width: 700px;
    border: 10px solid #95E1FF;
    border-radius: 50px;
  }
}
.nav:hover {
  transform: scale(1,1);
  transition-duration: 5000ms;
}

.nav:hover li {
  transform: rotate(2turn);
  transition-duration: 2000ms;
  transition-delay: 50ms;
}

@media only screen and (min-width: 1200px) {
  * {
    font-size: 48px;
  }
}