* {
  /* box-sizing: border-box; */
  text-decoration: none;
  color: white;
  background-color: rgb(0, 4, 4);
}


body {
  margin: 0;
  text-decoration: none;
}

li {
  /* list-style: none; */
  /* font-style: italic; */
  
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* border: 3px solid black; */
}



.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 3px solid skyblue; */
  margin: 20px;
  height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.App {
  text-align: center;
  /* border: 5px solid red; */
  
}

.mainLogo {
  display: flex;
  border: solid white 5px;
  height: 40vh;
  width: auto;
  background-color: rgba(0, 255, 255, 0.798);
  border-radius: 50px;
}

/* #homeNav {
  color: blue;
  font-size: 25px;
} */
/* #homeNav:hover {
  color: blue;
} */
.nav li {
  list-style: none;
  /* border: 1px solid orange; */
  background-color: solid white;
  }
/* .nav li:hover{
  font-size: x-large;
  color: blue;
  transition-duration: 500ms;
  transition-delay: 100ms;
} */

